<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario não encontrado</title>
</head>
<body>
    Usuario não encontrado
    <a href="/">
        <button>voltar para a pagina inicial</button>
    </a>
</body>
</html>