<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Otavio Emanoel">
    <meta name="theme" content="#000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="images/DevNexus.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/globals.css">
    <title>DevNexus | Perfil de ...</title>
</head>

<body>
    <header class="perfil-header">
        <h1>Perfil de Otavio</h1>
        <h2>Sou um desenvolvedor web junior</h2>
        <div>
            <button id="edit-user-button">
                Editar
            </button>
            <button id="excluir-conta-button">
                Excluir conta
            </button>
        </div>
    </header>

    <main class="perfil-app">
        <div class="perfil-app-sobre">
            <h3>Sobre mim</h3>
            <p>
                Sou um estudante de Desenvolvimento de sistemas, estudo programação há um ano, com foco em
                desenvolvimento Web e backend, também estudo Java.
            </p>
        </div>
        <div class="foto-de-perfil">
            <img src="https://avatars.githubusercontent.com/u/180762238?v=4">
        </div>
        <div class="perfil-detalhes">
            <h4>Nome:</h4>
            <p id="perfil-nome-user">Otavio Emanoel</p>
            <h4>Data de Nascimento:</h4>
            <p id="perfil-idade-user">22/06/2008</p>
            <h4>Email:</h4>
            <p id="perfil-email-user">otavioemanuel6b@gmail.com</p>
            <h4>Area:</h4>
            <p id="perfil-area-user">FullStack</p>
            <h4>
                <a id="github-link" href="">
                    <i class="fa fa-github" aria-hidden="true"></i> GitHub
                </a>
            </h4>

        </div>
    </main>
</body>

</html>